{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://codebuild.amazonaws.com/"
        },
        {
            "url": "http://codebuild.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<fullname>AWS CodeBuild</fullname> <p>AWS CodeBuild is a fully managed build service in the cloud. AWS CodeBuild compiles your source code, runs unit tests, and produces artifacts that are ready to deploy. AWS CodeBuild eliminates the need to provision, manage, and scale your own build servers. It provides prepackaged build environments for the most popular programming languages and build tools, such as Apache Maven, Gradle, and more. You can also fully customize build environments in AWS CodeBuild to use your own build tools. AWS CodeBuild scales automatically to meet peak build requests. You pay only for the build time you consume. For more information about AWS CodeBuild, see the <i>AWS CodeBuild User Guide</i>.</p> <p>AWS CodeBuild supports these operations:</p> <ul> <li> <p> <code>BatchDeleteBuilds</code>: Deletes one or more builds.</p> </li> <li> <p> <code>BatchGetProjects</code>: Gets information about one or more build projects. A <i>build project</i> defines how AWS CodeBuild runs a build. This includes information such as where to get the source code to build, the build environment to use, the build commands to run, and where to store the build output. A <i>build environment</i> is a representation of operating system, programming language runtime, and tools that AWS CodeBuild uses to run a build. You can add tags to build projects to help manage your resources and costs.</p> </li> <li> <p> <code>CreateProject</code>: Creates a build project.</p> </li> <li> <p> <code>CreateWebhook</code>: For an existing AWS CodeBuild build project that has its source code stored in a GitHub or Bitbucket repository, enables AWS CodeBuild to start rebuilding the source code every time a code change is pushed to the repository.</p> </li> <li> <p> <code>UpdateWebhook</code>: Changes the settings of an existing webhook.</p> </li> <li> <p> <code>DeleteProject</code>: Deletes a build project.</p> </li> <li> <p> <code>DeleteWebhook</code>: For an existing AWS CodeBuild build project that has its source code stored in a GitHub or Bitbucket repository, stops AWS CodeBuild from rebuilding the source code every time a code change is pushed to the repository.</p> </li> <li> <p> <code>ListProjects</code>: Gets a list of build project names, with each build project name representing a single build project.</p> </li> <li> <p> <code>UpdateProject</code>: Changes the settings of an existing build project.</p> </li> <li> <p> <code>BatchGetBuilds</code>: Gets information about one or more builds.</p> </li> <li> <p> <code>ListBuilds</code>: Gets a list of build IDs, with each build ID representing a single build.</p> </li> <li> <p> <code>ListBuildsForProject</code>: Gets a list of build IDs for the specified build project, with each build ID representing a single build.</p> </li> <li> <p> <code>StartBuild</code>: Starts running a build.</p> </li> <li> <p> <code>StopBuild</code>: Attempts to stop running a build.</p> </li> <li> <p> <code>ListCuratedEnvironmentImages</code>: Gets information about Docker images that are managed by AWS CodeBuild.</p> </li> <li> <p> <code>DeleteSourceCredentials</code>: Deletes a set of GitHub, GitHub Enterprise, or Bitbucket source credentials.</p> </li> <li> <p> <code>ImportSourceCredentials</code>: Imports the source repository credentials for an AWS CodeBuild project that has its source code stored in a GitHub, GitHub Enterprise, or Bitbucket repository.</p> </li> <li> <p> <code>ListSourceCredentials</code>: Returns a list of <code>SourceCredentialsInfo</code> objects. Each <code>SourceCredentialsInfo</code> object includes the authentication type, token ARN, and type of source provider for one set of credentials.</p> </li> </ul>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS CodeBuild",
        "version": "2016-10-06",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/codebuild-2016-10-06.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "codebuild"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/codebuild/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes one or more builds.",
                "operationId": "BatchDeleteBuilds",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "buildsDeleted": {
                                            "description": "The IDs of the builds that were successfully deleted.",
                                            "items": {
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "maxItems": 100,
                                            "minItems": 1,
                                            "type": "array"
                                        },
                                        "buildsNotDeleted": {
                                            "description": "Information about any builds that could not be successfully deleted.",
                                            "items": {
                                                "description": "Information about a build that could not be successfully deleted.",
                                                "properties": {
                                                    "id": {
                                                        "description": "The ID of the build that could not be successfully deleted.",
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "statusCode": {
                                                        "description": "Additional information about the build that could not be successfully deleted.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidInputException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ids": {
                                        "description": "The IDs of the builds to delete.",
                                        "items": {
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "maxItems": 100,
                                        "minItems": 1,
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "ids"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#BatchGetBuilds": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Gets information about builds.",
                "operationId": "BatchGetBuilds",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {
                                        "builds": [
                                            {
                                                "arn": "arn:aws:codebuild:us-east-1:123456789012:build/codebuild-demo-project:9b0ac37f-d19e-4254-9079-f47e9a389eEX",
                                                "artifacts": {
                                                    "location": "arn:aws:s3:::codebuild-123456789012-output-bucket/codebuild-demo-project"
                                                },
                                                "buildComplete": true,
                                                "buildStatus": "SUCCEEDED",
                                                "currentPhase": "COMPLETED",
                                                "endTime": 1479832474.764,
                                                "environment": {
                                                    "computeType": "BUILD_GENERAL1_SMALL",
                                                    "environmentVariables": [],
                                                    "image": "aws/codebuild/java:openjdk-8",
                                                    "privilegedMode": false,
                                                    "type": "LINUX_CONTAINER"
                                                },
                                                "id": "codebuild-demo-project:9b0ac37f-d19e-4254-9079-f47e9a389eEX",
                                                "initiator": "MyDemoUser",
                                                "logs": {
                                                    "deepLink": "https://console.aws.amazon.com/cloudwatch/home?region=us-east-1#logEvent:group=/aws/codebuild/codebuild-demo-project;stream=9b0ac37f-d19e-4254-9079-f47e9a389eEX",
                                                    "groupName": "/aws/codebuild/codebuild-demo-project",
                                                    "streamName": "9b0ac37f-d19e-4254-9079-f47e9a389eEX"
                                                },
                                                "phases": [
                                                    {
                                                        "durationInSeconds": 0,
                                                        "endTime": 1479832342.23,
                                                        "phaseStatus": "SUCCEEDED",
                                                        "phaseType": "SUBMITTED",
                                                        "startTime": 1479832341.854
                                                    },
                                                    {
                                                        "contexts": [],
                                                        "durationInSeconds": 72,
                                                        "endTime": 1479832415.064,
                                                        "phaseStatus": "SUCCEEDED",
                                                        "phaseType": "PROVISIONING",
                                                        "startTime": 1479832342.23
                                                    },
                                                    {
                                                        "contexts": [],
                                                        "durationInSeconds": 46,
                                                        "endTime": 1479832461.261,
                                                        "phaseStatus": "SUCCEEDED",
                                                        "phaseType": "DOWNLOAD_SOURCE",
                                                        "startTime": 1479832415.064
                                                    },
                                                    {
                                                        "contexts": [],
                                                        "durationInSeconds": 0,
                                                        "endTime": 1479832461.354,
                                                        "phaseStatus": "SUCCEEDED",
                                                        "phaseType": "INSTALL",
                                                        "startTime": 1479832461.261
                                                    },
                                                    {
                                                        "contexts": [],
                                                        "durationInSeconds": 0,
                                                        "endTime": 1479832461.448,
                                                        "phaseStatus": "SUCCEEDED",
                                                        "phaseType": "PRE_BUILD",
                                                        "startTime": 1479832461.354
                                                    },
                                                    {
                                                        "contexts": [],
                                                        "durationInSeconds": 9,
                                                        "endTime": 1479832471.115,
                                                        "phaseStatus": "SUCCEEDED",
                                                        "phaseType": "BUILD",
                                                        "startTime": 1479832461.448
                                                    },
                                                    {
                                                        "contexts": [],
                                                        "durationInSeconds": 0,
                                                        "endTime": 1479832471.224,
                                                        "phaseStatus": "SUCCEEDED",
                                                        "phaseType": "POST_BUILD",
                                                        "startTime": 1479832471.115
                                                    },
                                                    {
                                                        "contexts": [],
                                                        "durationInSeconds": 0,
                                                        "endTime": 1479832471.791,
                                                        "phaseStatus": "SUCCEEDED",
                                                        "phaseType": "UPLOAD_ARTIFACTS",
                                                        "startTime": 1479832471.224
                                                    },
                                                    {
                                                        "contexts": [],
                                                        "durationInSeconds": 2,
                                                        "endTime": 1479832474.764,
                                                        "phaseStatus": "SUCCEEDED",
                                                        "phaseType": "FINALIZING",
                                                        "startTime": 1479832471.791
                                                    },
                                                    {
                                                        "phaseType": "COMPLETED",
                                                        "startTime": 1479832474.764
                                                    }
                                                ],
                                                "projectName": "codebuild-demo-project",
                                                "source": {
                                                    "buildspec": "",
                                                    "location": "arn:aws:s3:::codebuild-123456789012-input-bucket/MessageUtil.zip",
                                                    "type": "S3"
                                                },
                                                "startTime": 1479832341.854,
                                                "timeoutInMinutes": 60
                                            },
                                            {
                                                "arn": "arn:aws:codebuild:us-east-1:123456789012:build/codebuild-demo-project:b79a46f7-1473-4636-a23f-da9c45c208EX",
                                                "artifacts": {
                                                    "location": "arn:aws:s3:::codebuild-123456789012-output-bucket/codebuild-demo-project"
                                                },
                                                "buildComplete": true,
                                                "buildStatus": "SUCCEEDED",
                                                "currentPhase": "COMPLETED",
                                                "endTime": 1479401214.239,
                                                "environment": {
                                                    "computeType": "BUILD_GENERAL1_SMALL",
                                                    "environmentVariables": [],
                                                    "image": "aws/codebuild/java:openjdk-8",
                                                    "privilegedMode": false,
                                                    "type": "LINUX_CONTAINER"
                                                },
                                                "id": "codebuild-demo-project:b79a46f7-1473-4636-a23f-da9c45c208EX",
                                                "initiator": "MyDemoUser",
                                                "logs": {
                                                    "deepLink": "https://console.aws.amazon.com/cloudwatch/home?region=us-east-1#logEvent:group=/aws/codebuild/codebuild-demo-project;stream=b79a46f7-1473-4636-a23f-da9c45c208EX",
                                                    "groupName": "/aws/codebuild/codebuild-demo-project",
                                                    "streamName": "b79a46f7-1473-4636-a23f-da9c45c208EX"
                                                },
                                                "phases": [
                                                    {
                                                        "durationInSeconds": 0,
                                                        "endTime": 1479401082.342,
                                                        "phaseStatus": "SUCCEEDED",
                                                        "phaseType": "SUBMITTED",
                                                        "startTime": 1479401081.869
                                                    },
                                                    {
                                                        "contexts": [],
                                                        "durationInSeconds": 71,
                                                        "endTime": 1479401154.129,
                                                        "phaseStatus": "SUCCEEDED",
                                                        "phaseType": "PROVISIONING",
                                                        "startTime": 1479401082.342
                                                    },
                                                    {
                                                        "contexts": [],
                                                        "durationInSeconds": 45,
                                                        "endTime": 1479401199.136,
                                                        "phaseStatus": "SUCCEEDED",
                                                        "phaseType": "DOWNLOAD_SOURCE",
                                                        "startTime": 1479401154.129
                                                    },
                                                    {
                                                        "contexts": [],
                                                        "durationInSeconds": 0,
                                                        "endTime": 1479401199.236,
                                                        "phaseStatus": "SUCCEEDED",
                                                        "phaseType": "INSTALL",
                                                        "startTime": 1479401199.136
                                                    },
                                                    {
                                                        "contexts": [],
                                                        "durationInSeconds": 0,
                                                        "endTime": 1479401199.345,
                                                        "phaseStatus": "SUCCEEDED",
                                                        "phaseType": "PRE_BUILD",
                                                        "startTime": 1479401199.236
                                                    },
                                                    {
                                                        "contexts": [],
                                                        "durationInSeconds": 9,
                                                        "endTime": 1479401208.68,
                                                        "phaseStatus": "SUCCEEDED",
                                                        "phaseType": "BUILD",
                                                        "startTime": 1479401199.345
                                                    },
                                                    {
                                                        "contexts": [],
                                                        "durationInSeconds": 0,
                                                        "endTime": 1479401208.783,
                                                        "phaseStatus": "SUCCEEDED",
                                                        "phaseType": "POST_BUILD",
                                                        "startTime": 1479401208.68
                                                    },
                                                    {
                                                        "contexts": [],
                                                        "durationInSeconds": 0,
                                                        "endTime": 1479401209.463,
                                                        "phaseStatus": "SUCCEEDED",
                                                        "phaseType": "UPLOAD_ARTIFACTS",
                                                        "startTime": 1479401208.783
                                                    },
                                                    {
                                                        "contexts": [],
                                                        "durationInSeconds": 4,
                                                        "endTime": 1479401214.239,
                                                        "phaseStatus": "SUCCEEDED",
                                                        "phaseType": "FINALIZING",
                                                        "startTime": 1479401209.463
                                                    },
                                                    {
                                                        "phaseType": "COMPLETED",
                                                        "startTime": 1479401214.239
                                                    }
                                                ],
                                                "projectName": "codebuild-demo-project",
                                                "source": {
                                                    "location": "arn:aws:s3:::codebuild-123456789012-input-bucket/MessageUtil.zip",
                                                    "type": "S3"
                                                },
                                                "startTime": 1479401081.869,
                                                "timeoutInMinutes": 60
                                            }
                                        ]
                                    },
                                    "properties": {
                                        "builds": {
                                            "description": "Information about the requested builds.",
                                            "items": {
                                                "description": "Information about a build.",
                                                "properties": {
                                                    "arn": {
                                                        "description": "The Amazon Resource Name (ARN) of the build.",
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "artifacts": {
                                                        "description": "Information about the output artifacts for the build.",
                                                        "properties": {
                                                            "artifactIdentifier": {
                                                                "description": " An identifier for this artifact definition. ",
                                                                "type": "string"
                                                            },
                                                            "encryptionDisabled": {
                                                                "description": " Information that tells you if encryption for build artifacts is disabled. ",
                                                                "type": "boolean"
                                                            },
                                                            "location": {
                                                                "description": "Information about the location of the build artifacts.",
                                                                "type": "string"
                                                            },
                                                            "md5sum": {
                                                                "description": "<p>The MD5 hash of the build artifact.</p> <p>You can use this hash along with a checksum tool to confirm file integrity and authenticity.</p> <note> <p>This value is available only if the build project's <code>packaging</code> value is set to <code>ZIP</code>.</p> </note>",
                                                                "type": "string"
                                                            },
                                                            "overrideArtifactName": {
                                                                "description": " If this flag is set, a name specified in the build spec file overrides the artifact name. The name specified in a build spec file is calculated at build time and uses the Shell Command Language. For example, you can append a date and time to your artifact name so that it is always unique. ",
                                                                "type": "boolean"
                                                            },
                                                            "sha256sum": {
                                                                "description": "<p>The SHA-256 hash of the build artifact.</p> <p>You can use this hash along with a checksum tool to confirm file integrity and authenticity.</p> <note> <p>This value is available only if the build project's <code>packaging</code> value is set to <code>ZIP</code>.</p> </note>",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "buildComplete": {
                                                        "description": "Whether the build is complete. True if complete; otherwise, false.",
                                                        "type": "boolean"
                                                    },
                                                    "buildStatus": {
                                                        "description": "<p>The current status of the build. Valid values include:</p> <ul> <li> <p> <code>FAILED</code>: The build failed.</p> </li> <li> <p> <code>FAULT</code>: The build faulted.</p> </li> <li> <p> <code>IN_PROGRESS</code>: The build is still in progress.</p> </li> <li> <p> <code>STOPPED</code>: The build stopped.</p> </li> <li> <p> <code>SUCCEEDED</code>: The build succeeded.</p> </li> <li> <p> <code>TIMED_OUT</code>: The build timed out.</p> </li> </ul>",
                                                        "enum": [
                                                            "SUCCEEDED",
                                                            "FAILED",
                                                            "FAULT",
                                                            "TIMED_OUT",
                                                            "IN_PROGRESS",
                                                            "STOPPED"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "cache": {
                                                        "description": "Information about the cache for the build.",
                                                        "properties": {
                                                            "location": {
                                                                "description": "<p>Information about the cache location: </p> <ul> <li> <p> <code>NO_CACHE</code> or <code>LOCAL</code>: This value is ignored.</p> </li> <li> <p> <code>S3</code>: This is the S3 bucket name/prefix.</p> </li> </ul>",
                                                                "type": "string"
                                                            },
                                                            "modes": {
                                                                "description": "<p> If you use a <code>LOCAL</code> cache, the local cache mode. You can use one or more local cache modes at the same time. </p> <ul> <li> <p> <code>LOCAL_SOURCE_CACHE</code> mode caches Git metadata for primary and secondary sources. After the cache is created, subsequent builds pull only the change between commits. This mode is a good choice for projects with a clean working directory and a source that is a large Git repository. If you choose this option and your project does not use a Git repository (GitHub, GitHub Enterprise, or Bitbucket), the option is ignored. </p> </li> <li> <p> <code>LOCAL_DOCKER_LAYER_CACHE</code> mode caches existing Docker layers. This mode is a good choice for projects that build or pull large Docker images. It can prevent the performance issues caused by pulling large Docker images down from the network. </p> <note> <ul> <li> <p> You can use a Docker layer cache in the Linux enviornment only. </p> </li> <li> <p> The <code>privileged</code> flag must be set so that your project has the required Docker permissions. </p> </li> <li> <p> You should consider the security implications before you use a Docker layer cache. </p> </li> </ul> </note> </li> </ul> <ul> <li> <p> <code>LOCAL_CUSTOM_CACHE</code> mode caches directories you specify in the buildspec file. This mode is a good choice if your build scenario is not suited to one of the other three local cache modes. If you use a custom cache: </p> <ul> <li> <p> Only directories can be specified for caching. You cannot specify individual files. </p> </li> <li> <p> Symlinks are used to reference cached directories. </p> </li> <li> <p> Cached directories are linked to your build before it downloads its project sources. Cached items are overriden if a source item has the same name. Directories are specified using cache paths in the buildspec file. </p> </li> </ul> </li> </ul>",
                                                                "items": {
                                                                    "enum": [
                                                                        "LOCAL_DOCKER_LAYER_CACHE",
                                                                        "LOCAL_SOURCE_CACHE",
                                                                        "LOCAL_CUSTOM_CACHE"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "type": {
                                                                "description": "<p>The type of cache used by the build project. Valid values include:</p> <ul> <li> <p> <code>NO_CACHE</code>: The build project does not use any cache.</p> </li> <li> <p> <code>S3</code>: The build project reads and writes from and to S3.</p> </li> <li> <p> <code>LOCAL</code>: The build project stores a cache locally on a build host that is only available to that build host.</p> </li> </ul>",
                                                                "enum": [
                                                                    "NO_CACHE",
                                                                    "S3",
                                                                    "LOCAL"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "type"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "currentPhase": {
                                                        "description": "The current build phase.",
                                                        "type": "string"
                                                    },
                                                    "encryptionKey": {
                                                        "description": "<p>The AWS Key Management Service (AWS KMS) customer master key (CMK) to be used for encrypting the build output artifacts.</p> <note> <p> You can use a cross-account KMS key to encrypt the build output artifacts if your service role has permission to that key. </p> </note> <p>You can specify either the Amazon Resource Name (ARN) of the CMK or, if available, the CMK's alias (using the format <code>alias/<i>alias-name</i> </code>).</p>",
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "endTime": {
                                                        "description": "When the build process ended, expressed in Unix time format.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "environment": {
                                                        "description": "Information about the build environment for this build.",
                                                        "properties": {
                                                            "certificate": {
                                                                "description": "The certificate to use with this build project.",
                                                                "type": "string"
                                                            },
                                                            "computeType": {
                                                                "description": "<p>Information about the compute resources the build project uses. Available values include:</p> <ul> <li> <p> <code>BUILD_GENERAL1_SMALL</code>: Use up to 3 GB memory and 2 vCPUs for builds.</p> </li> <li> <p> <code>BUILD_GENERAL1_MEDIUM</code>: Use up to 7 GB memory and 4 vCPUs for builds.</p> </li> <li> <p> <code>BUILD_GENERAL1_LARGE</code>: Use up to 15 GB memory and 8 vCPUs for builds.</p> </li> </ul>",
                                                                "enum": [
                                                                    "BUILD_GENERAL1_SMALL",
                                                                    "BUILD_GENERAL1_MEDIUM",
                                                                    "BUILD_GENERAL1_LARGE"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "environmentVariables": {
                                                                "description": "A set of environment variables to make available to builds for this build project.",
                                                                "items": {
                                                                    "description": "Information about an environment variable for a build project or a build.",
                                                                    "properties": {
                                                                        "name": {
                                                                            "description": "The name or key of the environment variable.",
                                                                            "minLength": 1,
                                                                            "type": "string"
                                                                        },
                                                                        "type": {
                                                                            "description": "<p>The type of environment variable. Valid values include:</p> <ul> <li> <p> <code>PARAMETER_STORE</code>: An environment variable stored in Amazon EC2 Systems Manager Parameter Store.</p> </li> <li> <p> <code>PLAINTEXT</code>: An environment variable in plaintext format.</p> </li> </ul>",
                                                                            "enum": [
                                                                                "PLAINTEXT",
                                                                                "PARAMETER_STORE"
                                                                            ],
                                                                            "type": "string"
                                                                        },
                                                                        "value": {
                                                                            "description": "<p>The value of the environment variable.</p> <important> <p>We strongly discourage the use of environment variables to store sensitive values, especially AWS secret key IDs and secret access keys. Environment variables can be displayed in plain text using the AWS CodeBuild console and the AWS Command Line Interface (AWS CLI).</p> </important>",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "name",
                                                                        "value"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "image": {
                                                                "description": "<p>The image tag or image digest that identifies the Docker image to use for this build project. Use the following formats:</p> <ul> <li> <p>For an image tag: <code>registry/repository:tag</code>. For example, to specify an image with the tag \"latest,\" use <code>registry/repository:latest</code>.</p> </li> <li> <p>For an image digest: <code>registry/repository@digest</code>. For example, to specify an image with the digest \"sha256:cbbf2f9a99b47fc460d422812b6a5adff7dfee951d8fa2e4a98caa0382cfbdbf,\" use <code>registry/repository@sha256:cbbf2f9a99b47fc460d422812b6a5adff7dfee951d8fa2e4a98caa0382cfbdbf</code>.</p> </li> </ul>",
                                                                "minLength": 1,
                                                                "type": "string"
                                                            },
                                                            "imagePullCredentialsType": {
                                                                "description": "<p> The type of credentials AWS CodeBuild uses to pull images in your build. There are two valid values: </p> <ul> <li> <p> <code>CODEBUILD</code> specifies that AWS CodeBuild uses its own credentials. This requires that you modify your ECR repository policy to trust AWS CodeBuild's service principal. </p> </li> <li> <p> <code>SERVICE_ROLE</code> specifies that AWS CodeBuild uses your build project's service role. </p> </li> </ul> <p> When you use a cross-account or private registry image, you must use SERVICE_ROLE credentials. When you use an AWS CodeBuild curated image, you must use CODEBUILD credentials. </p>",
                                                                "enum": [
                                                                    "CODEBUILD",
                                                                    "SERVICE_ROLE"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "privilegedMode": {
                                                                "description": "<p>Enables running the Docker daemon inside a Docker container. Set to true only if the build project is be used to build Docker images, and the specified build environment image is not provided by AWS CodeBuild with Docker support. Otherwise, all associated builds that attempt to interact with the Docker daemon fail. You must also start the Docker daemon so that builds can interact with it. One way to do this is to initialize the Docker daemon during the install phase of your build spec by running the following build commands. (Do not run these commands if the specified build environment image is provided by AWS CodeBuild with Docker support.)</p> <p>If the operating system's base image is Ubuntu Linux:</p> <p> <code>- nohup /usr/local/bin/dockerd --host=unix:///var/run/docker.sock --host=tcp://0.0.0.0:2375 --storage-driver=overlay&amp; - timeout 15 sh -c \"until docker info; do echo .; sleep 1; done\"</code> </p> <p>If the operating system's base image is Alpine Linux, add the <code>-t</code> argument to <code>timeout</code>:</p> <p> <code>- nohup /usr/local/bin/dockerd --host=unix:///var/run/docker.sock --host=tcp://0.0.0.0:2375 --storage-driver=overlay&amp; - timeout 15 -t sh -c \"until docker info; do echo .; sleep 1; done\"</code> </p>",
                                                                "type": "boolean"
                                                            },
                                                            "registryCredential": {
                                                                "description": " The credentials for access to a private registry.",
                                                                "properties": {
                                                                    "credential": {
                                                                        "description": "<p> The Amazon Resource Name (ARN) or name of credentials created using AWS Secrets Manager. </p> <note> <p> The <code>credential</code> can use the name of the credentials only if they exist in your current region. </p> </note>",
                                                                        "minLength": 1,
                                                                        "type": "string"
                                                                    },
                                                                    "credentialProvider": {
                                                                        "description": " The service that created the credentials to access a private Docker registry. The valid value, SECRETS_MANAGER, is for AWS Secrets Manager. ",
                                                                        "enum": [
                                                                            "SECRETS_MANAGER"
                                                                        ],
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "credential",
                                                                    "credentialProvider"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "description": "The type of build environment to use for related builds.",
                                                                "enum": [
                                                                    "WINDOWS_CONTAINER",
                                                                    "LINUX_CONTAINER"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "type",
                                                            "image",
                                                            "computeType"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "id": {
                                                        "description": "The unique ID for the build.",
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "initiator": {
                                                        "description": "<p>The entity that started the build. Valid values include:</p> <ul> <li> <p>If AWS CodePipeline started the build, the pipeline's name (for example, <code>codepipeline/my-demo-pipeline</code>).</p> </li> <li> <p>If an AWS Identity and Access Management (IAM) user started the build, the user's name (for example, <code>MyUserName</code>).</p> </li> <li> <p>If the Jenkins plugin for AWS CodeBuild started the build, the string <code>CodeBuild-Jenkins-Plugin</code>.</p> </li> </ul>",
                                                        "type": "string"
                                                    },
                                                    "logs": {
                                                        "description": "Information about the build's logs in Amazon CloudWatch Logs.",
                                                        "properties": {
                                                            "cloudWatchLogs": {
                                                                "description": " Information about Amazon CloudWatch Logs for a build project. ",
                                                                "properties": {
                                                                    "groupName": {
                                                                        "description": " The group name of the logs in Amazon CloudWatch Logs. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/Working-with-log-groups-and-streams.html\">Working with Log Groups and Log Streams</a>. ",
                                                                        "type": "string"
                                                                    },
                                                                    "status": {
                                                                        "description": "<p>The current status of the logs in Amazon CloudWatch Logs for a build project. Valid values are:</p> <ul> <li> <p> <code>ENABLED</code>: Amazon CloudWatch Logs are enabled for this build project.</p> </li> <li> <p> <code>DISABLED</code>: Amazon CloudWatch Logs are not enabled for this build project.</p> </li> </ul>",
                                                                        "enum": [
                                                                            "ENABLED",
                                                                            "DISABLED"
                                                                        ],
                                                                        "type": "string"
                                                                    },
                                                                    "streamName": {
                                                                        "description": " The prefix of the stream name of the Amazon CloudWatch Logs. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/Working-with-log-groups-and-streams.html\">Working with Log Groups and Log Streams</a>. ",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "status"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "deepLink": {
                                                                "description": "The URL to an individual build log in Amazon CloudWatch Logs.",
                                                                "type": "string"
                                                            },
                                                            "groupName": {
                                                                "description": "The name of the Amazon CloudWatch Logs group for the build logs.",
                                                                "type": "string"
                                                            },
                                                            "s3DeepLink": {
                                                                "description": " The URL to a build log in an S3 bucket. ",
                                                                "type": "string"
                                                            },
                                                            "s3Logs": {
                                                                "description": " Information about S3 logs for a build project. ",
                                                                "properties": {
                                                                    "encryptionDisabled": {
                                                                        "description": " Set to true if you do not want your S3 build log output encrypted. By default S3 build logs are encrypted. ",
                                                                        "type": "boolean"
                                                                    },
                                                                    "location": {
                                                                        "description": " The ARN of an S3 bucket and the path prefix for S3 logs. If your Amazon S3 bucket name is <code>my-bucket</code>, and your path prefix is <code>build-log</code>, then acceptable formats are <code>my-bucket/build-log</code> or <code>arn:aws:s3:::my-bucket/build-log</code>. ",
                                                                        "type": "string"
                                                                    },
                                                                    "status": {
                                                                        "description": "<p>The current status of the S3 build logs. Valid values are:</p> <ul> <li> <p> <code>ENABLED</code>: S3 build logs are enabled for this build project.</p> </li> <li> <p> <code>DISABLED</code>: S3 build logs are not enabled for this build project.</p> </li> </ul>",
                                                                        "enum": [
                                                                            "ENABLED",
                                                                            "DISABLED"
                                                                        ],
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "status"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "streamName": {
                                                                "description": "The name of the Amazon CloudWatch Logs stream for the build logs.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "networkInterface": {
                                                        "description": "Describes a network interface.",
                                                        "properties": {
                                                            "networkInterfaceId": {
                                                                "description": "The ID of the network interface.",
                                                                "minLength": 1,
                                                                "type": "string"
                                                            },
                                                            "subnetId": {
                                                                "description": "The ID of the subnet.",
                                                                "minLength": 1,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "phases": {
                                                        "description": "Information about all previous build phases that are complete and information about any current build phase that is not yet complete.",
                                                        "items": {
                                                            "description": "Information about a stage for a build.",
                                                            "properties": {
                                                                "contexts": {
                                                                    "description": "Additional information about a build phase, especially to help troubleshoot a failed build.",
                                                                    "items": {
                                                                        "description": "Additional information about a build phase that has an error. You can use this information for troubleshooting.",
                                                                        "properties": {
                                                                            "message": {
                                                                                "description": "An explanation of the build phase's context. This might include a command ID and an exit code.",
                                                                                "type": "string"
                                                                            },
                                                                            "statusCode": {
                                                                                "description": "The status code for the context of the build phase.",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "durationInSeconds": {
                                                                    "description": "How long, in seconds, between the starting and ending times of the build's phase.",
                                                                    "type": "integer"
                                                                },
                                                                "endTime": {
                                                                    "description": "When the build phase ended, expressed in Unix time format.",
                                                                    "format": "date-time",
                                                                    "type": "string"
                                                                },
                                                                "phaseStatus": {
                                                                    "description": "<p>The current status of the build phase. Valid values include:</p> <ul> <li> <p> <code>FAILED</code>: The build phase failed.</p> </li> <li> <p> <code>FAULT</code>: The build phase faulted.</p> </li> <li> <p> <code>IN_PROGRESS</code>: The build phase is still in progress.</p> </li> <li> <p> <code>QUEUED</code>: The build has been submitted and is queued behind other submitted builds.</p> </li> <li> <p> <code>STOPPED</code>: The build phase stopped.</p> </li> <li> <p> <code>SUCCEEDED</code>: The build phase succeeded.</p> </li> <li> <p> <code>TIMED_OUT</code>: The build phase timed out.</p> </li> </ul>",
                                                                    "enum": [
                                                                        "SUCCEEDED",
                                                                        "FAILED",
                                                                        "FAULT",
                                                                        "TIMED_OUT",
                                                                        "IN_PROGRESS",
                                                                        "STOPPED"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "phaseType": {
                                                                    "description": "<p>The name of the build phase. Valid values include:</p> <ul> <li> <p> <code>BUILD</code>: Core build activities typically occur in this build phase.</p> </li> <li> <p> <code>COMPLETED</code>: The build has been completed.</p> </li> <li> <p> <code>DOWNLOAD_SOURCE</code>: Source code is being downloaded in this build phase.</p> </li> <li> <p> <code>FINALIZING</code>: The build process is completing in this build phase.</p> </li> <li> <p> <code>INSTALL</code>: Installation activities typically occur in this build phase.</p> </li> <li> <p> <code>POST_BUILD</code>: Post-build activities typically occur in this build phase.</p> </li> <li> <p> <code>PRE_BUILD</code>: Pre-build activities typically occur in this build phase.</p> </li> <li> <p> <code>PROVISIONING</code>: The build environment is being set up.</p> </li> <li> <p> <code>QUEUED</code>: The build has been submitted and is queued behind other submitted builds.</p> </li> <li> <p> <code>SUBMITTED</code>: The build has been submitted.</p> </li> <li> <p> <code>UPLOAD_ARTIFACTS</code>: Build output artifacts are being uploaded to the output location.</p> </li> </ul>",
                                                                    "enum": [
                                                                        "SUBMITTED",
                                                                        "QUEUED",
                                                                        "PROVISIONING",
                                                                        "DOWNLOAD_SOURCE",
                                                                        "INSTALL",
                                                                        "PRE_BUILD",
                                                                        "BUILD",
                                                                        "POST_BUILD",
                                                                        "UPLOAD_ARTIFACTS",
                                                                        "FINALIZING",
                                                                        "COMPLETED"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "startTime": {
                                                                    "description": "When the build phase started, expressed in Unix time format.",
                                                                    "format": "date-time",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "projectName": {
                                                        "description": "The name of the AWS CodeBuild project.",
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "queuedTimeoutInMinutes": {
                                                        "description": " The number of minutes a build is allowed to be queued before it times out. ",
                                                        "type": "integer"
                                                    },
                                                    "resolvedSourceVersion": {
                                                        "description": "<p> An identifier for the version of this build's source code. </p> <ul> <li> <p> For AWS CodeCommit, GitHub, GitHub Enterprise, and BitBucket, the commit ID. </p> </li> <li> <p> For AWS CodePipeline, the source revision provided by AWS CodePipeline. </p> </li> <li> <p> For Amazon Simple Storage Service (Amazon S3), this does not apply. </p> </li> </ul>",
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "secondaryArtifacts": {
                                                        "description": " An array of <code>ProjectArtifacts</code> objects. ",
                                                        "items": {
                                                            "description": "Information about build output artifacts.",
                                                            "properties": {
                                                                "artifactIdentifier": {
                                                                    "description": " An identifier for this artifact definition. ",
                                                                    "type": "string"
                                                                },
                                                                "encryptionDisabled": {
                                                                    "description": " Information that tells you if encryption for build artifacts is disabled. ",
                                                                    "type": "boolean"
                                                                },
                                                                "location": {
                                                                    "description": "Information about the location of the build artifacts.",
                                                                    "type": "string"
                                                                },
                                                                "md5sum": {
                                                                    "description": "<p>The MD5 hash of the build artifact.</p> <p>You can use this hash along with a checksum tool to confirm file integrity and authenticity.</p> <note> <p>This value is available only if the build project's <code>packaging</code> value is set to <code>ZIP</code>.</p> </note>",
                                                                    "type": "string"
                                                                },
                                                                "overrideArtifactName": {
                                                                    "description": " If this flag is set, a name specified in the build spec file overrides the artifact name. The name specified in a build spec file is calculated at build time and uses the Shell Command Language. For example, you can append a date and time to your artifact name so that it is always unique. ",
                                                                    "type": "boolean"
                                                                },
                                                                "sha256sum": {
                                                                    "description": "<p>The SHA-256 hash of the build artifact.</p> <p>You can use this hash along with a checksum tool to confirm file integrity and authenticity.</p> <note> <p>This value is available only if the build project's <code>packaging</code> value is set to <code>ZIP</code>.</p> </note>",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "maxItems": 12,
                                                        "minItems": 0,
                                                        "type": "array"
                                                    },
                                                    "secondarySourceVersions": {
                                                        "description": "<p> An array of <code>ProjectSourceVersion</code> objects. Each <code>ProjectSourceVersion</code> must be one of: </p> <ul> <li> <p>For AWS CodeCommit: the commit ID to use.</p> </li> <li> <p>For GitHub: the commit ID, pull request ID, branch name, or tag name that corresponds to the version of the source code you want to build. If a pull request ID is specified, it must use the format <code>pr/pull-request-ID</code> (for example, <code>pr/25</code>). If a branch name is specified, the branch's HEAD commit ID is used. If not specified, the default branch's HEAD commit ID is used.</p> </li> <li> <p>For Bitbucket: the commit ID, branch name, or tag name that corresponds to the version of the source code you want to build. If a branch name is specified, the branch's HEAD commit ID is used. If not specified, the default branch's HEAD commit ID is used.</p> </li> <li> <p>For Amazon Simple Storage Service (Amazon S3): the version ID of the object that represents the build input ZIP file to use.</p> </li> </ul>",
                                                        "items": {
                                                            "description": "A source identifier and its corresponding version.",
                                                            "properties": {
                                                                "sourceIdentifier": {
                                                                    "description": "An identifier for a source in the build project.",
                                                                    "type": "string"
                                                                },
                                                                "sourceVersion": {
                                                                    "description": "<p>The source version for the corresponding source identifier. If specified, must be one of:</p> <ul> <li> <p>For AWS CodeCommit: the commit ID to use.</p> </li> <li> <p>For GitHub: the commit ID, pull request ID, branch name, or tag name that corresponds to the version of the source code you want to build. If a pull request ID is specified, it must use the format <code>pr/pull-request-ID</code> (for example, <code>pr/25</code>). If a branch name is specified, the branch's HEAD commit ID is used. If not specified, the default branch's HEAD commit ID is used.</p> </li> <li> <p>For Bitbucket: the commit ID, branch name, or tag name that corresponds to the version of the source code you want to build. If a branch name is specified, the branch's HEAD commit ID is used. If not specified, the default branch's HEAD commit ID is used.</p> </li> <li> <p>For Amazon Simple Storage Service (Amazon S3): the version ID of the object that represents the build input ZIP file to use.</p> </li> </ul>",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "sourceIdentifier",
                                                                "sourceVersion"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "maxItems": 12,
                                                        "minItems": 0,
                                                        "type": "array"
                                                    },
                                                    "secondarySources": {
                                                        "description": " An array of <code>ProjectSource</code> objects. ",
                                                        "items": {
                                                            "description": "Information about the build input source code for the build project.",
                                                            "properties": {
                                                                "auth": {
                                                                    "description": "<p>Information about the authorization settings for AWS CodeBuild to access the source code to be built.</p> <p>This information is for the AWS CodeBuild console's use only. Your code should not get or set this information directly.</p>",
                                                                    "properties": {
                                                                        "resource": {
                                                                            "description": "The resource value that applies to the specified authorization type.",
                                                                            "type": "string"
                                                                        },
                                                                        "type": {
                                                                            "description": "<note> <p> This data type is deprecated and is no longer accurate or used. </p> </note> <p>The authorization type to use. The only valid value is <code>OAUTH</code>, which represents the OAuth authorization type.</p>",
                                                                            "enum": [
                                                                                "OAUTH"
                                                                            ],
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "type"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "buildspec": {
                                                                    "description": "<p>The build spec declaration to use for the builds in this build project.</p> <p>If this value is not specified, a build spec must be included along with the source code to be built.</p>",
                                                                    "type": "string"
                                                                },
                                                                "gitCloneDepth": {
                                                                    "description": "Information about the Git clone depth for the build project.",
                                                                    "minimum": 0,
                                                                    "type": "integer"
                                                                },
                                                                "gitSubmodulesConfig": {
                                                                    "description": " Information about the Git submodules configuration for the build project. ",
                                                                    "properties": {
                                                                        "fetchSubmodules": {
                                                                            "description": " Set to true to fetch Git submodules for your AWS CodeBuild build project. ",
                                                                            "type": "boolean"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "fetchSubmodules"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "insecureSsl": {
                                                                    "description": "Enable this flag to ignore SSL warnings while connecting to the project source code.",
                                                                    "type": "boolean"
                                                                },
                                                                "location": {
                                                                    "description": "<p>Information about the location of the source code to be built. Valid values include:</p> <ul> <li> <p>For source code settings that are specified in the source action of a pipeline in AWS CodePipeline, <code>location</code> should not be specified. If it is specified, AWS CodePipeline ignores it. This is because AWS CodePipeline uses the settings in a pipeline's source action instead of this value.</p> </li> <li> <p>For source code in an AWS CodeCommit repository, the HTTPS clone URL to the repository that contains the source code and the build spec (for example, <code>https://git-codecommit.<i>region-ID</i>.amazonaws.com/v1/repos/<i>repo-name</i> </code>).</p> </li> <li> <p>For source code in an Amazon Simple Storage Service (Amazon S3) input bucket, one of the following. </p> <ul> <li> <p> The path to the ZIP file that contains the source code (for example, <code> <i>bucket-name</i>/<i>path</i>/<i>to</i>/<i>object-name</i>.zip</code>). </p> </li> <li> <p> The path to the folder that contains the source code (for example, <code> <i>bucket-name</i>/<i>path</i>/<i>to</i>/<i>source-code</i>/<i>folder</i>/</code>). </p> </li> </ul> </li> <li> <p>For source code in a GitHub repository, the HTTPS clone URL to the repository that contains the source and the build spec. You must connect your AWS account to your GitHub account. Use the AWS CodeBuild console to start creating a build project. When you use the console to connect (or reconnect) with GitHub, on the GitHub <b>Authorize application</b> page, for <b>Organization access</b>, choose <b>Request access</b> next to each repository you want to allow AWS CodeBuild to have access to, and then choose <b>Authorize application</b>. (After you have connected to your GitHub account, you do not need to finish creating the build project. You can leave the AWS CodeBuild console.) To instruct AWS CodeBuild to use this connection, in the <code>source</code> object, set the <code>auth</code> object's <code>type</code> value to <code>OAUTH</code>.</p> </li> <li> <p>For source code in a Bitbucket repository, the HTTPS clone URL to the repository that contains the source and the build spec. You must connect your AWS account to your Bitbucket account. Use the AWS CodeBuild console to start creating a build project. When you use the console to connect (or reconnect) with Bitbucket, on the Bitbucket <b>Confirm access to your account</b> page, choose <b>Grant access</b>. (After you have connected to your Bitbucket account, you do not need to finish creating the build project. You can leave the AWS CodeBuild console.) To instruct AWS CodeBuild to use this connection, in the <code>source</code> object, set the <code>auth</code> object's <code>type</code> value to <code>OAUTH</code>.</p> </li> </ul>",
                                                                    "type": "string"
                                                                },
                                                                "reportBuildStatus": {
                                                                    "description": " Set to true to report the status of a build's start and finish to your source provider. This option is valid only when your source provider is GitHub, GitHub Enterprise, or Bitbucket. If this is set and you use a different source provider, an invalidInputException is thrown. ",
                                                                    "type": "boolean"
                                                                },
                                                                "sourceIdentifier": {
                                                                    "description": " An identifier for this project source. ",
                                                                    "type": "string"
                                                                },
                                                                "type": {
                                                                    "description": "<p>The type of repository that contains the source code to be built. Valid values include:</p> <ul> <li> <p> <code>BITBUCKET</code>: The source code is in a Bitbucket repository.</p> </li> <li> <p> <code>CODECOMMIT</code>: The source code is in an AWS CodeCommit repository.</p> </li> <li> <p> <code>CODEPIPELINE</code>: The source code settings are specified in the source action of a pipeline in AWS CodePipeline.</p> </li> <li> <p> <code>GITHUB</code>: The source code is in a GitHub repository.</p> </li> <li> <p> <code>NO_SOURCE</code>: The project does not have input source code.</p> </li> <li> <p> <code>S3</code>: The source code is in an Amazon Simple Storage Service (Amazon S3) input bucket.</p> </li> </ul>",
                                                                    "enum": [
                                                                        "CODECOMMIT",
                                                                        "CODEPIPELINE",
                                                                        "GITHUB",
                                                                        "S3",
                                                                        "BITBUCKET",
                                                                        "GITHUB_ENTERPRISE",
                                                                        "NO_SOURCE"
                                                                    ],
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "type"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "maxItems": 12,
                                                        "minItems": 0,
                                                        "type": "array"
                                                    },
                                                    "serviceRole": {
                                                        "description": "The name of a service role used for this build.",
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "source": {
                                                        "description": "Information about the source code to be built.",
                                                        "properties": {
                                                            "auth": {
                                                                "description": "<p>Information about the authorization settings for AWS CodeBuild to access the source code to be built.</p> <p>This information is for the AWS CodeBuild console's use only. Your code should not get or set this information directly.</p>",
                                                                "properties": {
                                                                    "resource": {
                                                                        "description": "The resource value that applies to the specified authorization type.",
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "description": "<note> <p> This data type is deprecated and is no longer accurate or used. </p> </note> <p>The authorization type to use. The only valid value is <code>OAUTH</code>, which represents the OAuth authorization type.</p>",
                                                                        "enum": [
                                                                            "OAUTH"
                                                                        ],
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "type"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "buildspec": {
                                                                "description": "<p>The build spec declaration to use for the builds in this build project.</p> <p>If this value is not specified, a build spec must be included along with the source code to be built.</p>",
                                                                "type": "string"
                                                            },
                                                            "gitCloneDepth": {
                                                                "description": "Information about the Git clone depth for the build project.",
                                                                "minimum": 0,
                                                                "type": "integer"
                                                            },
                                                            "gitSubmodulesConfig": {
                                                                "description": " Information about the Git submodules configuration for the build project. ",
                                                                "properties": {
                                                                    "fetchSubmodules": {
                                                                        "description": " Set to true to fetch Git submodules for your AWS CodeBuild build project. ",
                                                                        "type": "boolean"
                                                                    }
                                                                },
                                                                "required": [
[...]
